* {
  background-color: #fff;
}

h1 {
  font-size: 70px;
  text-align: center;
  margin: 0;
  color: #f3bed6;
}

span {
  color: #f3bed6;
  font-size: 17px;
  margin-left: 10px;
}

.wrapper-flex {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 50%;
  height: 50%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.wrapper-top,
.wrapper-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.wrapper-middle {
  display: flex;
  justify-content: center;
}

#cube {
  width: 200px;
  height: 200px;
  background-color: #f3bed6;
}

.total-result {
  margin-top: 30px;
  display: flex;
  align-items: center;
}

#btn {
  background-color: #f3bed6;
  border-radius: 60px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
