@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&amp;display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background: #e3f2fd;
}

.container .color {
  background: #fff;
}

.color .rect-box {
  width: 185px;
  height: 188px;
  background: #8a6cff;
}
